body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  color: #333;
}

.header {
  margin: 20px 0;
  font-size: 24px;
  color: #333;
}

.container {
  display: flex;
  align-items: center;
}

.input-area,
.output-area {
  width: 640px;
  height: 480px;
  margin: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  position: relative;
  background-color: #fff;
}

.output-area {
  display: none;
}

.upload-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  border: none;
  border-radius: 16px;

  box-shadow: 0 4px 12px -2px rgba(255, 165, 0, 0.1), 0 0 0 1px rgba(255, 165, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.upload-container:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 12px -2px rgba(255, 165, 0, 0.7), 0 0 0 1px rgba(255, 165, 0, 0.7);
}

.upload-container > canvas {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

#uploadedImg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.instructions {
  font-size: 20px;
  font-weight: bold;
  color: #ff7f50;
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
}

.file-label {
  display: inline-block;
  padding: 10px;
  border: 2px solid #ff7f50;
  border-radius: 8px;
  color: #ff7f50;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-label:hover {
  background-color: #ff7f50;
  color: #fff;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-container button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow transition */
}

/* Add hover animation for buttons */
.button-container button:not(:disabled):hover {
  background-color: #555;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box-shadow on hover */
}

.image-button {
  width: 49%;
}

#changeBtn {
  background-color: #fff;
  color: #4caf50;
}

#changeBtn:disabled {
  color: #fff;
}

#changeBtn {
  background-color: #3498db; /* Blue */
  color: #fff;
}

#cutBtn {
  background-color: #e74c3c; /* Red */
  color: #fff;
}

#trimBtn {
  background-color: #2ecc71; /* Green */
  color: #fff;
}

#saveBtn {
  background-color: #f39c12; /* Yellow */
  color: #fff;
}

#changeBtn:disabled, #cutBtn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.drag-over {
  border-color: #4caf50;
}

.faded-out {
  filter: opacity(25%);
}

.dot-spin {
  position: absolute; /* Change from relative to absolute positioning */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the element precisely */
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 rgba(152, 128, 255, 0);
  animation: dot-spin 1.5s infinite linear;
}

@keyframes dot-spin {
  0%, 100% {
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 0 #9880ff;
  }
  75% {
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 0 #9880ff;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 #9880ff;
  }
}