<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>bg.cut</title>
</head>
<body>
    <h1>bg.cut</h1>
    <div id="drop-area">
        <form class="my-form">
            <p>Drag and drop an image here, or click to select one</p>
            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
        </form>
    </div>
    <button id="start-btn" onclick="">Start Processing</button>

    <div id="output"></div>
</body>
</html>
